<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">
<div layout:fragment="siteContent">
    <div class="row mt-2">
        <div class="col-8 mx-auto">
            <h3 class="text-center">Category List:</h3>
            <div class="row mb-2" >
                <div class="col-3">
                    <button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal"
                            data-bs-target="#add-category-btn">
                        +New Category
                    </button>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="add-category-btn" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{'/add-category-db'}" method="post">
                                <div class="modal-header">
                                    ADD NEW CATEGORY TO DATABASE
                                </div>
                            <div class="modal-body">
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <label>NAME:</label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <input class="form-control" type="text" name="name" placeholder="Insert Name"
                                               required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button class="btn btn-success">Add Category</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <table class="table table-striped mt-2">
                <thead>
                <tr>
                    <th>ID:</th>
                    <th>NAME:</th>
                    <th>DETAILS:</th>
                </tr>
                </thead>
                <tbody >
                <tr th:each = "cat : ${cats}">
                    <td th:text="${cat.id}"></td>
                    <td th:text="${cat.name}"></td>
                    <td>
                        <a th:href="@{'/detailsCats/' + ${cat.id}}" class="btn btn-sm btn-primary">Details</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>